* {
  font-family: Raleway;
}

.bg-amber-100 {
  background-color: rgb(254 243 199);
}

.bg-black {
  background-color: black;
}

.bg-img {
  background-image: url(../img/image-cc94elsr.png);
}

.text-white {
  color: white;
}

.text-amber-100 {
  color: rgb(254 243 199);
}

.text-purple {
  color: #d000fe;
}

.text-1xl {
  font-size: 1.4rem;
}

.text-2xl {
  font-size: 1.5rem; /* 24px */
}

.text-3xl {
  font-size: 1.875rem; /* 30px */
}

.text-4xl {
  font-size: 2.25rem; /* 36px */
}

.text-5xl {
  font-size: 3rem; /* 48px */
}

.h-16 {
  height: 4rem;
}

.h-20 {
  height: 5rem;
}

.h-30 {
  height: 7.5rem;
}

.h-32 {
  height: 8.313rem;
}

.h-36 {
  height: 9.1rem;
}

.h-80 {
  height: 15rem;
}

.h-160 {
  height: 30rem;
}

.list-none {
  list-style-type: none;
}

.no-underline {
  text-decoration: none;
}

.border-solid {
  border: #d000fe 5px solid;
}

.border-l {
  border-left: solid 2px #d000fe;
}

.border-r {
  border-right: solid 2px #d000fe;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-arround {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0));
}

.grid-cols-3 {
  grid-template-columns: 1fr 3fr 1.5fr;
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-rows-2 {
  grid-template-rows: 0.5fr 1fr;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.order-2 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}
.order-7 {
  order: 7;
}

.m-0 {
  margin: 0;
}

.pt-2 {
  padding-top: 1rem;
}

.pt-10 {
  padding-top: 5rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-16 {
  padding-left: 4rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.px-4 {
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.overflow-hidden {
  overflow: hidden;
}

.fixed {
  position: fixed;
}

.bottom-0 {
  bottom: 0;
}

.w-screen {
  width: 100vw;
}

.cursor-pointer {
  cursor: pointer;
}

